<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="enst1.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>TypologiesInfo</title>
</head>
<body>
<header class="shapka">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 124, 130);">
            <div class="container-fluid">
                <a class="navbar-brand" href="enneagraminfo">TypologiesInfo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/enneagram">Enneagram</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/mbti">MBTI</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/video">Conference</a>
                        </li>
                    </ul><ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/articles/index">Article</a>
                        </li>
                    </ul>
                </div>
                </div>
        </nav>
</header>
<div class="vse">
    <h1>Typologies Info!</h1>
    <!--<img src="rerr.png" alt="logo" width="500" height="500">-->
    <h3>In psychology, personality type refers to the psychological classification of different types of individuals.
        Personality types are sometimes distinguished from personality traits, with the latter embodying a smaller
        grouping of behavioral tendencies. Types are sometimes said to involve qualitative differences between people,
        whereas traits might be construed as quantitative differences. According to type theories, for example, introverts
        and extraverts are two fundamentally different categories of people. According to trait theories, introversion and
        extroversion are part of a continuous dimension, with many people in the middle</h3>
    <h3>“The primordial image, or archetype, is a figure—be it a daemon, a human being, or a process—that constantly recurs
        in the course of history and appears wherever creative fantasy is freely expressed. Essentially, therefore, it is
        a mythological figure…In each of these images there is a little piece of human psychology and human fate, a remnant
        of the joys and sorrows that have been repeated countless times in our ancestral history…” <i>Carl Gustav Jung</i></h3>
</div>
    <style>
        html {
            font-size: 20px;
            font-family: 'Oswald', sans-serif;
        }
        body{
            background: rgb(50, 147, 154)
        }
        h1 {
            font-size: 60px;
            text-align: center;
        }
        p, h3 {
            font-size: 20px;
            line-height: 2;
            letter-spacing: 2px;
        }
        h1 {
            margin: 0;
            padding: 20px 0;
            color: rgb(255, 255, 255);
            text-shadow: 3px 3px 1px rgb(42, 124, 130)
        }
        h3 {
            color:rgb(42, 124, 130)
        }
        .vse{
            max-width: 900px;
            margin: 5em auto 0em;
            background-color: #76bdc7;/*#939393;*/
            /*border: 5px solid #343a40;*/
            padding: 0 20px 20px 20px;
            text-align: center;
        }
    </style>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "rgb(42, 124, 130)",
                "text": "rgb(255, 255, 255)"
            },
            "button": {
                "background": "#76bdc7"
            }
        },
        "theme": "classic",
        "position": "bottom-left",
        "content": {
            "dismiss": "Okay",
            "link": "OMG!"
        }
    });
</script>
</body>
</html>
