<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="ennea.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Enneagram</title>
</head>
<body>
<header class="shapka">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 124, 130);">
            <div class="container-fluid">
                <a class="navbar-brand" href="enneagraminfo">TypologiesInfo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/enneagram">Enneagram</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/mbti">MBTI</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/video">Conference</a>
                        </li>
                    </ul><ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/articles/index">Article</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class ="vse">
    <h1>Enneagram</h1>
    <h3>The Enneagram of Personality, or simply the Enneagram, is a concept of personality types and the relationship between them. It describes nine "deep subconscious 'drives'" and their influence on the worldview, thinking, emotional and behavioural strategies of nine personality types (so-called enneatypes). This model was developed in the 1970s and is largely based on the work of Oscar Ichazo and Claudio Naranjo. George Gurdjieff's ideas also had some influence on the development of the model.

        The Enneagram describes nine personality types, positioned on a circle at an equal distance from each other. This representation symbolises the equal contribution of each personality type in creating a holistic world. The types are connected to each other not only by a circle, but also by so-called "arrows" - a complex internal figure inscribed in the circle. The arrows symbolise changes in behaviour in situations of stress and in situations of psychological comfort.
    </h3>
    <h1><strong>History</strong></h1>
    <h3>The origins and historical development of the Enneagram of Personality are matters of dispute. Wiltse and Palmer have suggested that similar ideas to the Enneagram of Personality are found in the work of Evagrius Ponticus, a Christian mystic who lived in 4th-century Alexandria in Egypt. Evagrius identified eight logismoi ("deadly thoughts") plus an overarching thought he called "love of self". Evagrius wrote, "The first thought of all is that of love of self (philautia); after this,  the eight."In addition to identifying eight deadly thoughts, Evagrius also identified eight "remedies" to these thoughts.

        G. I. Gurdjieff (died 1949) is credited with making the word enneagram and the enneagram figure commonly known(see Fourth Way enneagram). He did not, however, develop the nine personality types associated with the Enneagram of Personality.

        Oscar Ichazo (1931-2020) is generally recognized as the principal source[10] of the contemporary Enneagram of Personality which is largely derived from some of Ichazo's teachings, such as those on ego-fixations, holy ideas, passions, and virtues. The Bolivian-born Ichazo began teaching programs of self-development in the 1950s. His teaching, which he calls "Protoanalysis", uses the enneagram figure among many other symbols and ideas. Ichazo founded the Arica Institute which was originally based in Chile before moving to the United States and coined the term "Enneagram of Personality".

        Claudio Naranjo (1932-2019) was a Chilean-born psychiatrist who first learned about the Enneagram of Personality from Ichazo at a course in Arica, Chile. He then began developing and teaching his own understanding of the Enneagram in the United States, principally at the Esalen Institute and to his students in Berkeley, California, including some Jesuit priests who adapted the Enneagram for use in Christian spirituality. Ichazo disowned Naranjo and the other Enneagram teachers due to what he considered misinterpretations and misuses of the Enneagram.

        Largely due to Naranjo's teachings and those he first taught the Enneagram to, Enneagram teachings became increasingly popularized in the United States and elsewhere from the 1970s. Numerous other authors also began publishing widely read books on the Enneagram of Personality in the 1980s and 1990s, including Don Richard Riso (1987), Helen Palmer (1988), Eli Jaxon-Bear (1989), Elizabeth Wagele (1994), and Richard Rohr (1995). In 1994, the First International Enneagram Conference, attended by over 1,000 participants, was held at Stanford University and was co-sponsored by the university's psychiatry department.

        Analysis of Google search results over 16 years shows an increase in searches for the word "enneagram" from 2017.Additionally, social media accounts and podcasts about the Enneagram have increased, indicating a growing popularity among millennials.It has been suggested that the rise in popularity of the Enneagram is similar to renewed interest in astrology.</h3>
</div>
<style>
    html {
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    body{
        background: rgb(50, 147, 154);
    }
    h1 {
        font-size: 60px;
        text-align: center;
    }
    p, h3 {
        font-size: 20px;
        line-height: 2;
        letter-spacing: 2px;
    }
    h1 {
        margin: 0;
        padding: 20px 0;
        color: #FFFFFF;
        text-shadow: 3px 3px 1px #32939a;
    }
    .vse{
        max-width: 900px;
        margin: 5em auto 0em;
        background-color: #76bdc7;/*#939393;*/
        /*border: 5px solid #343a40;*/
        padding: 0 20px 20px 20px;
        text-align: center;
    }
</style>
</body>
</html>
