<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="mbti.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>MBTI</title>
</head>
<body>
<header class="shapka">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 124, 130);">
            <div class="container-fluid">
                <a class="navbar-brand" href="enneagraminfo">TypologiesInfo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/enneagram">Enneagram</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/mbti">MBTI</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/video">Conference</a>
                        </li>
                    </ul><ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/articles/index">Article</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class ="vse">
    <h1>MBTI</h1>
    <h3>The Myers-Briggs Typology is a personality typology created on the basis of Jung's typology in the 1940s by two American psychologists. Based on this typology, the Myers-Briggs Type Indicator, a psychological testing system, was created which became widespread in the US and Europe.

        The Myers-Briggs typology is very popular, despite the lack of localisation for culturally diverse societies and insufficient justification. In the US, up to 70% of high school graduates take the MBTI personality type assessment for future career choice purposes. More than 2 million people complete the MBTI each year. The MBTI has been translated into 30 languages (including Russian) and is used worldwide.

   </h3>
    <h1><strong>History</strong></h1>
    <h3>The original versions of the MBTI were constructed by two Americans, Katharine Cook Briggs and her daughter Isabel Briggs Myers. Briggs began her research into personality in 1917. Upon meeting her future son-in-law, she observed marked differences between his personality and that of other family members. Briggs embarked on a project of reading biographies, and subsequently developed a typology wherein she proposed four temperaments: meditative (or thoughtful), spontaneous, executive, and social.

        After the English translation of Carl Jung's book Psychological Types was published in 1923 (first published in German in 1921), Briggs recognized that Jung's theory was similar to, but went far beyond, her own.Briggs's four types were later identified as corresponding to the IXXXs (Introverts: "meditative"), EXXPs (Extraverts & Prospectors: "spontaneous"), EXTJs (Extraverts, Thinkers & Judgers: "executive") and EXFJs (Extraverts, Feelers & Judgers: "social").[i][13][14] Her first publications were two articles describing Jung's theory, in the journal New Republic in 1926 ("Meet Yourself Using the Personality Paint Box") and 1928 ("Up From Barbarism"). After extensively studying the work of Jung, Briggs and her daughter extended their interest in human behavior into efforts to turn the theory of psychological types to practical use.

        Briggs's daughter, Isabel Briggs Myers, joined her mother's typological research and progressively took it over entirely. Although Myers graduated from Swarthmore College in 1919, neither Myers nor Briggs was formally educated in the discipline of psychology, and both were self-taught in the field of psychometric testing.[Myers therefore apprenticed herself to Edward N. Hay, who was personnel manager for a large Philadelphia bank. From Hay, Myers learned rudimentary test construction, scoring, validation, and statistical methods.

        Briggs and Myers began creating their indicator during World War II in the belief that a knowledge of personality preferences would help women entering the industrial workforce for the first time to identify the sort of war-time jobs that would be the "most comfortable and effective" for them.The Briggs Myers Type Indicator Handbook was published in 1944, and changed its name to "Myers–Briggs Type Indicator" in 1956.

        Myers' work attracted the attention of Henry Chauncey, head of the Educational Testing Service. Under these auspices, the first MBTI "manual" was published, in 1962. The MBTI received further support from Donald W. MacKinnon, head of the Institute of Personality and Social Research at the University of California, Berkeley; W. Harold Grant, a professor at Michigan State University and Auburn University; and Mary H. McCaulley of the University of Florida. The publication of the MBTI was transferred to Consulting Psychologists Press in 1975, and the Center for Applications of Psychological Type was founded as a research laboratory.

        After Myers' death in May 1980, Mary McCaulley updated the MBTI manual and the second edition was published in 1985. The third edition appeared in 1998.</h3>
</div>
<style>
    html {
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    body{
        background: rgb(50, 147, 154);
    }
    h1 {
        font-size: 60px;
        text-align: center;
    }
    p, h3 {
        font-size: 20px;
        line-height: 2;
        letter-spacing: 2px;
    }
    h1 {
        margin: 0;
        padding: 20px 0;
        color: #FFFFFF;
        text-shadow: 3px 3px 1px #32939a;
    }
    .vse{
        max-width: 900px;
        margin: 5em auto 0em;
        background-color: #76bdc7;/*#939393;*/
        /*border: 5px solid #343a40;*/
        padding: 0 20px 20px 20px;
        text-align: center;
    }
</style>
</body>
</html>
